// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.

@import "~@edx/paragon/styles/css/themes/light/variables";
@import "~@edx/paragon/styles/css/themes/light/utility-classes";

@import url('https://cdn.jsdelivr.net/npm/@openedx/paragon@23.0.0-alpha.1/styles/css/themes/light/utility-classes.min.css');
@import url('https://cdn.jsdelivr.net/npm/@openedx/paragon@23.0.0-alpha.1/dist/core.min.css');

@font-face {
  font-family: 'DIN Next LT Arabic';
  src: url('./fonts/din-next-lt-arabic-bold.ttf');
  font-weight: normal;
  font-style: normal;
}


:root {
  --pgn-typography-font-family-base: 'DIN Next LT Arabic',var(--pgn-typography-font-family-sans-serif) !important;
}
