// progress page style
.course-tabs-navigation + .container-xl {
  min-height: calc(100vh - 300px);
  > .mb-4.justify-content-between {
    h1 {
      font-weight: 800;
      font-size: 18px;
      line-height: 25px;
      color: var(--fx-color-text);
    }
    a {
      color: var(--fx-color-text) !important;
      border-color: var(--fx-color-shark) !important;
      &:hover {
        color: var(--fx-color-light-dark) !important;
        background-color: var(--fx-color-gallery) !important;
        border-color: var(--fx-color-text) !important;
      }
    }
    @include media-breakpoint-up(sm) {
      h1 {
        font-size: 24px;
      }
    }
  }
  > .row {
    > .col-12.col-md-8.p-0 {
      .rounded.raised-card {
        border: 1px solid var(--fx-color-concrete) !important;
        border-left: 8px solid var(--fx-color-concrete) !important;
        border-radius: 8px !important;
        box-shadow: none !important;
        font-size: 16px;
        .small {
          font-size: 16px;
        }
        &.grades {
          border: none !important;
          border-radius: none !important;
          padding: 0 !important;
          .btn-icon.btn-icon-primary.btn-icon-sm {
            width: auto;
            height: auto;
          }
        }
        h2 {
          font-size: 18px;
          line-height: 24px;
          font-weight: 600;
          margin-bottom: 0 !important;
        }
        .bg-warning-100 {
          padding: 10px 15px;
          background: var(--fx-color-concrete) !important;
          color: var(--fx-color-text) !important;
          .h4 {
            font-size: 14px;
            color: var(--fx-color-text) !important;
            font-weight: 600;
          }
          svg {
            color: var(--fx-color-text) !important;
          }
        }
      }
    }
    > .col-12.col-md-4.p-0.px-md-4,
    > .col-12.col-md-8.p-0 {
      .bg-light-200.raised-card {
        background: var(--fx-color-concrete);
        box-shadow: none !important;
        .pgn__card-header {
          .pgn__card-header-content {
            margin-top: 10px;
          }
          .pgn__card-header-title-md {
            font-size: 18px;
          }
        }
        .pgn__card-section {
          padding-top: 0;
          &.small {
            font-size: 16px;
          }
        }
        .btn.btn-outline-brand {
          padding: 7px 13px !important;
          border: 1px solid var(--fx-color-primary);
          color: var(--fx-color-white);
          text-decoration: none;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          margin: 0 !important;
          background: var(--fx-color-primary);
        }
      }
      section.mb-4.x-small {
        background-color: var(--fx-color-concrete);
        font-size: 16px !important;
        border-radius: 8px;
        padding: 20px;

        ul {
          list-style: none;
          a {
            color: var(--fx-color-text) !important;
          }
        }
      }
    }
  }
  .donut-ring.complete-stroke,
  .donut-segment.complete-stroke,
  .donut-hole.complete-stroke {
    stroke: var(--fx-color-primary);
  }
  .donut-ring.incomplete-stroke,
  .donut-segment.incomplete-stroke,
  .donut-hole.incomplete-stroke {
    stroke: var(--fx-color-concrete);
  }
  svg.donut {
    @include media-breakpoint-up(sm) {
      float: right;
    }
  }
  .donut-chart-text {
    .donut-chart-number {
      color: var(--fx-color-text);
    }
    .donut-chart-label {
      color: var(--fx-color-river-red);
    }
  }
  .grade-bar .grade-bar__base {
    fill: var(--fx-color-concrete);
  }
}
.grades {
  h2 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 0 !important;
  }
  .raised-card {
    border-left: 8px solid var(--fx-color-concrete) !important;
  }
}
.pgn__data-table {
  th {
    background-color: transparent !important;
    border-bottom: 1px solid var(--fx-color-athens-gray) !important;
    span.h5 {
      font-size: 14px;
      font-weight: 500 !important;
    }
  }

  &.is-striped tr:nth-child(even) {
    background-color: transparent !important;
  }
  td {
    font-size: 14px;
    color: var(--fx-color-text) !important;
    > div {
      font-size: 14px;
      color: var(--fx-color-text) !important;
    }
  }
  &-footer {
    background-color: var(--fx-color-concrete) !important;
  }
}

.pgn__data-table-wrapper {
  box-shadow: unset !important;
  .border-primary {
    border-color: transparent !important;
  }
  .small,
  .x-small {
    font-size: 14px !important;
  }
  #weighted-grade-summary.small {
    color: var(--fx-color-text) !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 20px !important;
  }
}
a.muted-link {
  color: var(--fx-color-text) !important;
  font-size: 14px !important;
}

.btn-icon {
  width: 24px !important;
  height: 24px !important;
  &.btn-icon-primary {
    &:hover {
      background-color: var(--fx-color-concrete) !important;
      color: var(--fx-color-white);
      .btn-icon__icon {
        svg {
          path {
            stroke: var(--fx-color-primary) !important;
            fill: var(--fx-color-primary) !important;
          }
        }
      }
    }
  }
}
.btn-icon__icon {
  svg {
    path {
      fill: var(--fx-color-text) !important;
    }
  }
}
.pgn__data-table th {
  background-color: transparent !important;
}
.pgn__data-table.is-striped tr:nth-child(even) {
  background-color: transparent !important;
}
#non-passing-grade-tooltip {
  background: var(--fx-color-primary);
  border-color: var(--fx-color-primary);
  filter: none;
  .arrow {
    &:before {
      border-top-color: var(--fx-color-primary) !important;
    }
    &:after {
      border-top-color: var(--fx-color-primary) !important;
    }
  }
  .popover-body {
    color: var(--fx-color-white) !important;
  }
}

#minimum-grade-tooltip.bg-primary-500 {
  background: var(--fx-color-french-gray) !important;
  border-color: var(--fx-color-french-gray) !important;
  filter: none;
  .arrow {
    &:before {
      border-bottom-color: var(--fx-color-french-gray) !important;
    }
    &:after {
      border-bottom-color: var(--fx-color-french-gray) !important;
    }
  }
  .popover-body {
    color: var(--fx-color-white) !important;
  }
}
